{% extends "home/header.html" %}

{% block content %}

    <h2>Radar Simulator</h2>

    <br>
    <div>
        <p>
            This sim was built using the Unity game engine.  C# scripts are used for the
            sim logic to include: aircraft spawning, aircraft movements, and aircraft
            datablock information.
            <br>
            <br>
            Sprites and images were created using the free GIMP software.  Voice recognition
            and pilot text-to-speech were developed with the RT Voice asset that can be obtained from
            the Unity asset store.  Database usage was with sqlite and C# scripts.
        </p>
    </div>

{% endblock %}